.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    /* padding: 24px; */
}

.header {
    text-align: center;
    margin-bottom: 24px;
}

.header img {
    height: 50px;
    vertical-align: middle;
}

.bg-card-header {
    background: #001A8C;
}

.section {
    margin-bottom: 16px;
}

.section strong {
    display: inline-block;
    width: 130px;
}

.alert {
    border: 1px solid #17a2b8;
    background-color: #e9f7fc;
    padding: 10px;
    border-radius: 4px;
    margin-top: 12px;
}

.pne {
    border: 1px solid #ffc107;
    background-color: #fff3cd;
    padding: 10px;
    border-radius: 4px;
    margin-top: 12px;
}

.footer {
    margin-top: 32px;
    font-size: 11px;
    color: #555;
}

@media (max-width: 768px) {
    div.card {
        margin-top: 100px !important;
    }
}