#previous-exams {
    margin: 6rem 0;
}

/* ==================== TABLES ==================== */
.freezed-table thead th {
    position: sticky !important;
    top: 0;
    z-index: 5;
    /* background-color: var(--bs-table-bg, #d1e7dd); */
}