#results-wrapper {
    margin: 6rem 0 !important;
}

th,
td {
    text-align: center;
    vertical-align: middle !important;
}

/* Container do input group */
.input-group {
    transition: all 0.4s ease-in-out;
    width: 260px;
    margin-left: auto; /* Alinha à direita */
}

.input-group:focus-within {
    width: 100%;
    margin-left: 0; /* Remove o alinhamento quando expandir */
}

/* Estilização do ícone */
.input-group-text {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

/* Estilização do input */
.input-group .form-control {
    border: 1px solid #dee2e6;
    transition: all 0.4s ease-in-out;
}

.input-group:focus-within .form-control {
    border-color: #2575fc;
    box-shadow: 0 0 0 0.2rem rgba(37, 117, 252, 0.25);
}

/* Animação suave do placeholder */
.input-group .form-control::placeholder {
    transition: opacity 0.3s ease;
}

.input-group:not(:focus-within) .form-control::placeholder {
    opacity: 0.7;
}

/* Opcional: Adicionar um wrapper para controlar melhor o layout */
.search-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.form-control {
    border: none;
    background: #f8f9fa;
    padding-left: 5px;
}

.form-control:focus {
    background: white;
    box-shadow: none;
}

#classification thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bs-table-bg, #d1e7dd);
}

/* First mobile */
@media (max-width: 768px) {
    #results-disclaimer {
        text-align: justify;
    }
}