#previous-exams {
    margin: 6rem 0;
    /* padding: 4rem 0; */
}

/* Animação suave com fade + slide-up */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Pulsar/levemente girar ícone */
@keyframes pulseIcon {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.1) rotate(10deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.card-animada {
    opacity: 0;
    /* começa invisível */
    transform: translateY(30px);
    /* começa mais baixo */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-visivel {
    animation: fadeInUp 0.6s ease-out forwards;
}

.card-recente {
    background-color: #F8F9FA;
    border: 2px solid #198754;
    box-shadow: 0 0 12px rgba(25, 135, 84, 0.45);
}

/* Efeito hover no card */
.card-animada:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Efeito hover no ícone PDF */
.card-animada:hover .bi-file-pdf {
    animation: pulseIcon 0.5s ease-in-out;
}

/* Efeito hover no botão Download */
.btn-outline-primary {
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #0d6efd;
    /* cor do botão preenchido do Bootstrap */
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}