 /* Container do input group */
 .input-group {
     transition: all 0.4s ease-in-out;
     width: 220px;
 }

 .input-group:focus-within {
     width: 100%;
 }

 /* Estilização adicional para melhor aparência */
 .input-group-text {
     background: linear-gradient(to right, #6a11cb, #2575fc);
     border: none;
     color: white;
 }

 .form-control {
     border: none;
     background: #f8f9fa;
     padding-left: 5px;
 }

 .form-control:focus {
     background: white;
     box-shadow: none;
 }